<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <title>500</title>
</head>
<body>
<div th:fragment="context">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="well well-lg" style="margin: 5em;">
                    换个姿势，再来一次
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
